<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="scripts/vue.global.js"></script>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div id="app">
        <form v-on:submit.prevent="dodajStudenta()" action="">
            <label>Broj indeksa: <input v-model="noviStudent.broj_indeksa" type="text" required></label>
            <label>Ime: <input v-model="noviStudent.ime" type="text" required></label>
            <label>Prezime: <input v-model="noviStudent.prezime" type="text" required></label>
            <label>Smer:
                <select v-model="noviStudent.studijski_program" required>
                    <option v-for="smer in smerovi" :value="smer.id">{{smer.naziv}}</option>
                </select>
            </label>
            <label>Prosečna ocena: <input v-model="noviStudent.prosecna_ocena" type="number" min="5" max="10"
                    step="0.01" required></label>

            <button v-if="noviStudent.id != undefined" type="submit">Izmeni</button>
            <button v-if="noviStudent.id != undefined" type="reset" @click="ponistiFormu()">Odustani</button>
            <button v-else type="submit">Dodaj</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Smer</th>
                    <th>Prosečna ocena</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(student, i) in studenti">
                    <td>{{student.ime}}</td>
                    <td>{{student.prezime}}</td>
                    <td>{{student.smer.sifra}} - {{student.smer.naziv}}</td>
                    <td>{{student.prosecna_ocena}}</td>
                    <td>
                        <button @click="ukloniStudenta(student.id)">Ukloni</button>
                        <button @click="postaviZaIzmenu(student)">Izmeni</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>

        fetch("/api/studenti").then(response => {
            let json = response.json().then(vrednosti => {
                console.log(vrednosti);
            });
        });
        const { createApp } = Vue

        createApp(
            {
                data() {
                    return {
                        noviStudent: {},
                        smerovi: [],
                        studenti: []
                    }
                },
                created() {
                    this.osveziSmerove();
                    this.osveziTabelu();
                },
                methods: {
                    osveziSmerove() {
                        fetch("/api/smerovi").then(r => {
                            if (r.status == 200) {
                                r.json().then(podaci => {
                                    this.smerovi = podaci;
                                })
                            }
                        })
                    },
                    osveziTabelu() {
                        fetch("/api/studenti").then(r => {
                            if (r.status == 200) {
                                r.json().then(podaci => {
                                    this.studenti = podaci;
                                })
                            }
                        });
                    },
                    izmeniTekst() {
                        this.message = "Test";
                    },
                    dodajStudenta() {
                        let student = { ...this.noviStudent }
                        delete student["indeks"]
                        console.log(student);
                        if (this.noviStudent.id != undefined) {
                            fetch(`/api/studenti/${student.id}`, {
                                method: "PUT",
                                headers: {
                                    "Content-Type": "application/json"
                                },
                                body: JSON.stringify(student)
                            }).then(r=>{
                                if(r.status == 200) {
                                    this.osveziTabelu();
                                }
                            })
                            this.noviStudent = {};
                        } else {
                            // this.studenti.push(student);
                            console.log(student)
                            fetch("/api/studenti", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json"
                                },
                                body: JSON.stringify(student)
                            }).then(r => {
                                if (r.status == 201) {
                                    this.osveziTabelu();
                                }
                            })
                        }

                    },
                    ukloniStudenta(id) {
                        fetch(`api/studenti/${id}`, {
                            method: "DELETE"
                        }).then(r => {
                            if (r.status == 200) {
                                this.osveziTabelu();
                            }
                        })
                    },
                    postaviZaIzmenu(student) {
                        this.noviStudent = { ...student, studijski_program: student["smer"]["id"] };
                    },
                    ponistiFormu() {
                        this.noviStudent = {};
                    }
                }
            }
        ).mount('#app')
    </script>
</body>

</html>