<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studenti</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Redni broj</th>
                <th>Broj indeksa</th>
                <th>Studijski program</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Prosečna ocena</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            {% for student in studenti %}
            <tr class="{% if student.obrisan %}obrisan-red{% endif %}">
                <td>{{loop.index}}.</td>
                <td>{{student.brojIndeksa}}</td>
                <td>{{student.studijskiProgram.sifraPrograma}} - {{student.studijskiProgram.naziv}}</td>
                <td>{{student.ime}}</td>
                <td>{{student.prezime}}</td>
                <td>{{student.prosecnaOcena}}</td>
                <td>
                    <a href="/izmenaForma?brojIndeksa={{student.brojIndeksa}}">Izmeni</a>
                    <a href="/uklanjanje?brojIndeksa={{student.brojIndeksa}}">Ukloni</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>