<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodavanje kupca</title>
</head>
<body>
    <a href="/">Početna</a>
    {% if kupac %}
    <form action="/izmena/{{kupac.id}}" method="post">
    {% else %}
    <form action="/dodavanje" method="post"></form>
    {% endif %}
        <div>
            <label>Korisničko ime: <input name="korisnickoIme" type="text" required maxlength="32" {% if kupac %}value="{{kupac.korisnickoIme}}"{% endif %}> </label>
        </div>
        <div>
            <label>Lozinka: <input name="lozinka" type="password" required maxlength="255" {% if kupac %}value="{{kupac.lozinka}}"{% endif %}> </label>
        </div>
        <div>
            <label>Ime: <input name="ime" type="text" required  {% if kupac %}value="{{kupac.ime}}"{% endif %}> </label>
        </div>
        <div>
            <label>Prezime: <input name="prezime" type="text" required  {% if kupac %}value="{{kupac.prezime}}"{% endif %}> </label>
        </div>
        <div>
            <button type="submit">Dodaj</button>
        </div>
    </form>
</body>
</html>