<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj kupovinu</title>
</head>
<body>
    <form action="">
        <div>
            <label>
                Kupac: 
                <select name="kupac" required>
                    {% for k in kupci %}
                    <option value="{{k.id}}">{{k.ime}} {{k.prezime}}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div>
            <label>
                Proizvod: 
                <select name="proizvod" required>
                    {% for p in proizvodi %}
                    <option value="{{p.id}}">{{p.naziv}} [{{p.cena}} RSD]</option>
                    {% endfor %}
                </select>
            </label>
        </div>
    </form>
</body>
</html>