<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Početna stranica</title>
</head>

<body>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div>
        <a href="/dodavanje">Dodaj kupca</a>
    </div>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Korisničko ime</td>
                <td>Ime</td>
                <td>Prezime</td>
                <td>Akcije</td>
            </tr>
        </thead>
        <tbody>
            {% for kupac in kupci%}
            <tr>
                <td>{{kupac['id']}}</td>
                <td>{{kupac['korisnickoIme']}}</td>
                <td>{{kupac['ime']}}</td>
                <td>{{kupac['prezime']}}</td>
                <td>
                    <a href="/izmena/{{kupac['id']}}">Izmeni</a>
                    <a href="/brisanje/{{kupac['id']}}">Ukloni</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>