<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studenti</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <p>Trenutno ulogovani korisnik: {{session.korisnik.korisnickoIme}}</p>
    <p>Trenutno prava pristupa: {{session.korisnik["pravaPristupa"]}}</p>
    <p>{{'admin' in session.korisnik["pravaPristupa"]}}</p>
    <table>
        <thead>
            <tr>
                <th>Redni broj</th>
                <th>Broj indeksa</th>
                <th>Studijski program</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Prosečna ocena</th>
                {% if 'admin' in session.korisnik.pravaPristupa %}<th>Akcije</th>{% endif %}
            </tr>
        </thead>
        <tbody>
            {% for student in studenti %}
            <tr class="{% if student.obrisan %}obrisan-red{% endif %}">
                <td>{{loop.index}}.</td>
                <td>{{student.broj_indeksa}}</td>
                <td>{{student.sifra_programa}} - {{student.naziv}}</td>
                <td>{{student.ime}}</td>
                <td>{{student.prezime}}</td>
                <td>{{student.prosecna_ocena}}</td>
                {% if 'admin' in session.korisnik.pravaPristupa %}<td>
                    <a href="/izmenaForma?id_studenta={{student.id}}">Izmeni</a>
                    <a href="/uklanjanje?id_studenta={{student.id}}">Ukloni</a>
                </td>{% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>